.txns-container {
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.txn-input-container {
    border-style: dashed;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.txn-container {
    border-style: solid;
    border-width: 1px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}