body {
    background-color: #37474f;
    height: auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100vh;*/
}

.bottomButton {
    bottom: 20px;
    right: 50%;
    /*-webkit-transform: translate(50%, 25%);*/
    -webkit-transform: translate(50%, 0%);
    position: fixed;
    z-index: 1000;
}

#footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.hiddenSubmit {
    position: absolute;
    height: 0px;
    width: 0px;
    border: none;
    padding: 0px;
}