[submodule "clutter"]
	path = packages/clutter
	url = https://github.com/datalove-app/clutter
[submodule "dpki"]
	path = packages/dpki
	url = https://github.com/datalove-app/dpki
[submodule "packages/hc-dao"]
	path = packages/hc-dao
	url = https://github.com/datalove-app/hc-dao
[submodule "packages/holo-vault"]
	path = packages/vault
	url = https://github.com/datalove-app/holo-vault
