/* for famo.us */
html {
    overflow: visible;
    position: static;
}
body {
    overflow: auto;
    position: static;
}
/*              */

.txn-form > form > input {
    display: block;
}

.txn-form > form > span {
    display: inline;
}

.input-xxlarge {
    width: 300px;
}

#current-addr {
    color: #808080;
    font-style: italic;
}

ul.list {
    list-style: none;
    margin-left: 0;
}
