.txn-form > form > input {
    display: block;
}

.txn-form > form > span {
    display: inline;
}

.input-xxlarge {
    width: 300px;
}

#current-addr {
    color: #808080;
    font-style: italic;
}

ul.list {
    list-style-type: none;
}