.transaction {
	position: relative;
}

.username {
	color: gray;
}

.message {
	font-size: 1.25em;
}

.limit {
	float: right;
	font-size: 4em;
}

.limit.gift {
	color: green;
}

.limit.nix {
	color: red;
}