.auth.container {
    /* center vertically and horizontally */
}

.authButton.container {
    margin: 5px;
}

.authButton {
    width: 120px;
}

.authSubmit {
    position: absolute;
    height: 0px;
    width: 0px;
    border: none;
    padding: 0px;
}

